* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Extra Styling */
p {
	line-height: 1.5rem;
	word-wrap: break-word;
}

/*--------------------
	Flexbox Grid
---------------------*/
html {
	/* For sticky footer */
	height: 100%;
}

body {
	/* For sticky footer */
	display: flex;
	flex-direction: column;
	height: 100%;

	/* Extra */
	background: #FFDC03;
	font-family: sans-serif;
	color: white;
}

/*--------------------
	Header
---------------------*/

header {
	flex: 0 0 auto;

	/* Extra */
	background: #09E833;
	padding: 20px 0;
}

.header-wrapper {
	/* Constraint the content width */
	max-width: 1000px;
	margin: 0 auto;
	/* grow the width to max-width */
	flex-grow: 1;

	padding: 10px;

	display: flex;
	justify-content: space-between;
}

header nav {
	list-style: none;
	
	display: flex;
	align-items: baseline;
}

header nav li{
	margin-left: 15px;
}

header nav a {
	color: white;
	text-decoration: none;
}

/* Extra style for button */
header button {
	border: none;
	background: #FF5A00;
	color: white;
    padding: 8px 25px;
	text-transform: uppercase;
	max-width: 100px;
}

/*--------------------
	Main and Sidebar
---------------------*/
.main-wrapper {
	display: flex;
	flex: 1 0 auto;
}

.content {
	max-width: 1000px;
	margin: 0 auto;
}

.main {
	/* take up all the available space that's not taken by the sidebar */
	flex-grow: 1;

	/* Extra */
	background: #FF5A00;
	padding: 10px;
}

.sidebar {
	/* give the sidebar a default width, and prevent it from shrinking */
	flex-shrink: 0; 
	flex-basis: 300px;

	/* Extra */
	background: #CA07E8;
	padding: 10px;	
}

/*--------------------
	Footer
---------------------*/

footer {
	flex: 0 0 auto;

	/* Extra */
	background: #097AFF;
	padding: 10px;
}

/*--------------------
	Responsive
---------------------*/
@media all and (max-width: 800px) {


	.main-wrapper {
		flex-direction: column;
	}

	.sidebar {
		flex-basis: auto;
	}
}

@media all and (max-width: 600px) {
	.header-wrapper {
		flex-direction: column;	
	}
	
	nav {
		flex-direction: column;
	}

	nav li {
		padding: 10px 0;
	}

}